name: Build and push container image

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
      
      - name: Build and push using podman
        uses: Frozen-Tapestry/container-action@v1
        with:
          login_registry: ghcr.io
          login_username: ${{ github.actor }}
          login_password: ${{ secrets.GITHUB_TOKEN }}
          tags: ghcr.io/chaserhkj/crio-krun:latest
          dockerfile: Containerfile
          security: |
            --security-opt=seccomp=unconfined
            --security-opt=apparmor=unconfined
          push: true